$white: #ffffff;
$grey-dark: #626262;
$grey: #989898;
$grey-middle: #989898;
$background: #1f1f1f;
$blue: #3c1dff;

// BREAKPOINTS//
$mobile: 375px;
$tablet: 768px;
$tablet-bigger: 1024px;
$desktop: 1440px;
